.footer_cover {
  display: flex;
  justify-content: space-between;
  padding: 7rem 1rem 8.5rem 1rem;
  align-items: center;

  @include laptop {
    padding: 3.5rem 2rem 3.5rem 2rem;
  }
  @include mobile {
    flex-direction: column;
    padding: 2rem 0;
  }
}

.footer__cocial {
  @include mobile {
    margin: 2rem 0;
  }
}

.footer__logo__pic {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJMAAAAoCAMAAADNNjiRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEUAAADSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkXSKFYoNkUAAAD9jYhXAAAAH3RSTlMAQJ/vYN+PIBCvgL/PMHBQII9AMO/PEIDfcGC/n1CvZFptYgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiCwUUJCQBkt/RAAAEDklEQVRYw72Y69qqIBCF8ZTnPGRUWsn9X+VmBlFALPTZffxJEeNlZjksJUQ2zw/GMfDIpxaO4xidYvI3LUlHbNnHUbnLoP+GVIjZgvJrnKD5f8EEUQpOXvJ1YOz5fxQpj09TfAcSrQTduQ4+3vxds8AKzj9nisbxtGM4l3rqOLQ6ihTzhXs7xmc8rI7/nB9lgsdpz3hIXukykD/O4UEmLqdi1w1ugoozrokxP0a1U07Ogkp4kqM9olDWw1fjqMVa/DgL6hwc3IhATo6VoBE/zoIi++K/NHc5tWwKFGdyk8nR/dpZTpeOXSke5T/e8xI3OdH21jHG7o+WoKCiXzJVi5wqH9xI7uuINecOY3J5IFPPT1FQv7RRJymnLBhlC5SNnzYk8ceiigm9y9ytBXVjU+uGZ09l75U9xEHD7hct6h17iQV3Xav2X7G/EHIqi1FtxfxcPRm/6Yyuqe1oUqQQ1JWgOqa07jX1MjbMl69UGd4ydtMPJBKcTnIqMUhFVnlVVij2rn7zOR6UpJnH7VWDUU0sguKjBtHuQNUYTND3/soESNdayikGpELWXA+oZLlruiXqNdrfQtwVG0zy8ALLeK2Z1IBYmRCJznLKDUcLbhL39CQmN3VudMknjG64wQTpZleTCZLbfmSakUBOPpZyXR/+NGmWEapdQKhY3LbFxBUsqqvCNDw4V/2BaUESC+YzRPr2kkSomCRYvV7FyH8yBKUxQaBakwmjRzeZFiQhjNKyV4S4p4WWnQ2c8kpQOtPNxgSzPreYFCSx3rPN1AVgkmx7IazAMwWlM71tTLwWMVmvTCYVCbOW5ZOgtQad4MrW702cNoUCqwpKY6rlmc4EAJPODSYNicgaud6Fs+nK2gDksq5uMC1JMpjIrHOdCW6Y07owraPxnUn1dQsT7e/zE2YyQVIxHhoTIs1p5RrPeYuiqrTNHOXBRu4iuE3dquc6jv8vy+yKSYZQZWqgr5/rrAyJzasgTmpRmvXVS93u2LOeew0m8GAQEJVJ5O25rETMklxac5IKq8DZYkoym1de9rtnXyu9JhN5oc51JpTSwI2QVp7fb3OSAotivP6KkgS2txa9FnxggtrVUY1JqJs7oWUQZx+g9q+CAUryVypPrW/N7kyoc5VJhgPSujx83Bh1evIgZ7h3gGEIVLkBpOXlbgcTFiObL4C09svNfU9C35fKidPFQOF3sEzqB51flNhmd2bCgFj9003zDrRO8ANc6BEv9LW6hFDBiVcLL0w3P+btYSL9BhOkdfEOIklKU+xAqF1QXPFhJm7Pt73vVRmX+MrEvpqeOFdYNz4bdqz7xNTpTPDg25hwm9YGxmcxeX42S1J5KqYrWy/x/dBbepuhtV+mz0EUSPp+1+qFy9D8A+eilJVmGADtAAAAAElFTkSuQmCC");
  width: 147px;
  height: 40px;
  transition: 0.3s;
  &:hover {
    background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJMAAAAoCAMAAADNNjiRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEXSKFYAAADlhJ7eY4TVNWDje5fXQGngaornjKXokKjdW37hcI7bU3jZSnHmiKLidpPSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbkgJvSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAACUilOsAAAAIHRSTlMAAHDb/pz7zjwf5sDv9levUCC/EM9ggN9Ah3DvjzCfrxnBcdQAAAABYktHRAH/Ai3eAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsVDjUYPIzxfwAAA/5JREFUWMO9mOF2oyAQhamAgog2ddPGJN3y/k+5zAAKiI3xnOz8akXhY+Y6XENIiIoyY1hFfgtujKkbMf//9pIIs8vWYKhfmbrsppcySe1WY/3DPEHQ/8EEWWJNJcmjEBWNMvVKpsouox8DuehBd/LlTHReZU/ADoaXM9XGNLuRUOrtTqb3o0zCbrx6gknZtO5jOn0cZYLX6QkkLF6/h2n8Y84Hmayc9DNMJAjqQZI+v+yNH09THZHTIqhHafo05utyKE8gp2kfzCkV1MPpr7fTsdqBnHZ2gnsqqMfz359HentOThdzmgXFdzEdSNPbU3L6vpk/YxAU3cV0JOzEcp+cxsvnzd75db04QdWvZJoWOU0U3EhHeS5syQX5viLT+eQFJV7I1AQ5KWZCsMhHjXciqdGTIONXqJ0XVDSRmh+1W5LhpdRmcMONqRMbJJmZcECwxEda0wQ1005OvTZx6HmKv8ZWa0DXdLmNUrdyFlTElDzMJs9kk+6GWWY8bKIVDlSJjwQfp2Y59ZgkraZqUjqyd6cf+/d1JK2qrL26Y1ZlEFTK1Lmo4ekmY4Jr7UMmQILZnZwEIOmQxQqomPfd99t3JC0QnHZPiYwp3NS3uM0VU5yQIlNA8nLqIkcLAW6yw/sE+UyEoDELEgVVZvIdL2NiifkoMc1IICeKrTxGclDw+ilFRrKCEu6xLSarYCMypm5YUl9kWpDchu2/dXq8yBoVI9nq80ogfwPDW0ywoypnwuzJTaYFyQmj90mJg+OZxoNVShdk7rlNJlViknopxoopQnL7HUqmjoFJKp2FsIMK87vJ1JaY8EUaykwxElZNdV7QScBFVZc+Q+3ULTRYusUE5SVrJmz/VYkpQSKhza1P4dCZeYkWo95gkvMLkDGRWecpE743yzsWmNQBJlZkkrzGlUtMUFTMR8Lkv8KHMP+Erbee+tLKdcc2alfDY1Opj8+HQJEp6DxmauAaz92JKnkVxGkLSls+vbbOOyrIBhOeYUPK5OpGs18rhPy+5CtP2AUGZ0pWRZUFJn/eUS7mwTUTzltlTDTUJemRPz85k8aeKVYNHpu0P043e8EvTPiBIRMmtwB06agm7x/2O+y6SgYoia5U3i4H1yEm1HnMFPwClDXa/+V2S4sHNauxrMzboRA0ch3HmLAZlXwBT/d/PhNOaVCOaBcDhb+DqVBodH5z2Y8xea9W8E8q8Q7jSaLYuJUfp0lfQijW2G5R8Tb9Me8gk9/nmgnKyqJXSrDkdY7sAE8GIld8mAlO2U3vG5+vksYdJn4rRRexqmxZH8z//LPBxLI215WZMDPJjWJwi3dD3pL6RvsRmS/rg3f5GQRXm64qD0va9Tgg2zZZrO+af2txj79cUKz0AAAAAElFTkSuQmCC");
  }
  &:active {
    background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJMAAAAoCAMAAADNNjiRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEUAAADSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkUoNkXSKFYoNkUAAAD9jYhXAAAAH3RSTlMAQJ/vYN+PIBCvgL/PMHBQII9AMO/PEIDfcGC/n1CvZFptYgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiCwUUJCQBkt/RAAAEDklEQVRYw72Y69qqIBCF8ZTnPGRUWsn9X+VmBlFALPTZffxJEeNlZjksJUQ2zw/GMfDIpxaO4xidYvI3LUlHbNnHUbnLoP+GVIjZgvJrnKD5f8EEUQpOXvJ1YOz5fxQpj09TfAcSrQTduQ4+3vxds8AKzj9nisbxtGM4l3rqOLQ6ihTzhXs7xmc8rI7/nB9lgsdpz3hIXukykD/O4UEmLqdi1w1ugoozrokxP0a1U07Ogkp4kqM9olDWw1fjqMVa/DgL6hwc3IhATo6VoBE/zoIi++K/NHc5tWwKFGdyk8nR/dpZTpeOXSke5T/e8xI3OdH21jHG7o+WoKCiXzJVi5wqH9xI7uuINecOY3J5IFPPT1FQv7RRJymnLBhlC5SNnzYk8ceiigm9y9ytBXVjU+uGZ09l75U9xEHD7hct6h17iQV3Xav2X7G/EHIqi1FtxfxcPRm/6Yyuqe1oUqQQ1JWgOqa07jX1MjbMl69UGd4ydtMPJBKcTnIqMUhFVnlVVij2rn7zOR6UpJnH7VWDUU0sguKjBtHuQNUYTND3/soESNdayikGpELWXA+oZLlruiXqNdrfQtwVG0zy8ALLeK2Z1IBYmRCJznLKDUcLbhL39CQmN3VudMknjG64wQTpZleTCZLbfmSakUBOPpZyXR/+NGmWEapdQKhY3LbFxBUsqqvCNDw4V/2BaUESC+YzRPr2kkSomCRYvV7FyH8yBKUxQaBakwmjRzeZFiQhjNKyV4S4p4WWnQ2c8kpQOtPNxgSzPreYFCSx3rPN1AVgkmx7IazAMwWlM71tTLwWMVmvTCYVCbOW5ZOgtQad4MrW702cNoUCqwpKY6rlmc4EAJPODSYNicgaud6Fs+nK2gDksq5uMC1JMpjIrHOdCW6Y07owraPxnUn1dQsT7e/zE2YyQVIxHhoTIs1p5RrPeYuiqrTNHOXBRu4iuE3dquc6jv8vy+yKSYZQZWqgr5/rrAyJzasgTmpRmvXVS93u2LOeew0m8GAQEJVJ5O25rETMklxac5IKq8DZYkoym1de9rtnXyu9JhN5oc51JpTSwI2QVp7fb3OSAotivP6KkgS2txa9FnxggtrVUY1JqJs7oWUQZx+g9q+CAUryVypPrW/N7kyoc5VJhgPSujx83Bh1evIgZ7h3gGEIVLkBpOXlbgcTFiObL4C09svNfU9C35fKidPFQOF3sEzqB51flNhmd2bCgFj9003zDrRO8ANc6BEv9LW6hFDBiVcLL0w3P+btYSL9BhOkdfEOIklKU+xAqF1QXPFhJm7Pt73vVRmX+MrEvpqeOFdYNz4bdqz7xNTpTPDg25hwm9YGxmcxeX42S1J5KqYrWy/x/dBbepuhtV+mz0EUSPp+1+qFy9D8A+eilJVmGADtAAAAAElFTkSuQmCC");
    opacity: 0.3;
    transition: 0.2s;
  }
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin-right: 1rem;
  transition: 0.2s;

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__pic_twitter {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAMAAAAVBLyFAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEXSKFb////SKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAACDqFhFAAAAEXRSTlMAABCA779QYM8wn49w3yCvQNb4WZQAAAABYktHRBJ7vGwAAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsTEy03JNM7gAAAAGxJREFUGNNV0NsSgCAIBNAFLDO14v9/NlFm1H3w4YB4ATM8ElQPPiPkSkNuHckQDcUkuWhFsTU+rTTSNnk1VCchvEG3fIS4iyaaJ/lwapTqStmIt2GPEc6lTdBpsRtG7+zpz2jE0W92lP4BRD+6uwsqt8VbNQAAAABJRU5ErkJggg==");
  width: 18px;
  height: 14px;
}

.footer__pic_facebook {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASBAMAAAB7rul7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAHlBMVEX////SKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAADjPmpCAAAACHRSTlMAcN+A7zBAUDhkNu0AAAABYktHRAnx2aXsAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsTEy4MvvWBZwAAADdJREFUCNdjYGDU6GhgYLDoAJEeIJK1o8MsgYGtoyOBgSGxo6MsgaGjAySOTKZ1dIgBpcFqiCYB784fhncEdEIAAAAASUVORK5CYII=");
  width: 9px;
  height: 18px;
}

.footer__pic_youtube {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANBAMAAACEMClyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEX////SKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAAAXXkLfAAAAC3RSTlMA779A32CAEJ8gUFWRLMIAAAABYktHRAyBs1FjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsTEy4eTUzwLwAAADVJREFUCNdjkFZmgIDdu11hjN1iBVDG7h0ToIzdmwygjN1bFkAZuzegicDUwHTBzIGaDLMLADs6LBRkNFU4AAAAAElFTkSuQmCC");
  width: 15px;
  height: 13px;
}

.footer__copyright__link {
  display: flex;
  align-items: center;

  p {
    font-size: 1.8rem;
    color: #000000;
  }

  &:hover {
    .footer__copyright__pic {
      background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAiCAMAAACZf1ICAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUoNkUlLDQlLDUjKjMgKTMiLTklMT4hLDclKzMjLjohKTMmM0ElKzMgKDEiKTEmNEIhKjUgKjQgKTMgJzAkMT4kLTgiKjQjLzwiLDgiKzUjLDckLzwjLDYoNkUAAAA6Xxs6AAAAHXRSTlMAV3CHwO/75jzvnP4fh3D+286vV/vbwPbmztv2wMjgNBEAAAABYktHRB5yCiArAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsWEBYWYZCKjQAAAUJJREFUKM91k+tigzAIhWOEGHOxatN13cb7v+bIRROt5V/94AQOVAiOTvYAiIqIFA4AvdTxsxiRrgNHQSkZAYzsOFVKEyVs/MzMiatwiYnrODE/TB+YRrrR7C6YW8gaAdaub8xYWmKJnklNB3ZHwnvJn5AGvbMsV4M1wGW2FrlmNqDgE6tyYgS395zYoxasdhd/5Lo605ccssr0zHVAFgr7JuiftHTz9l4ULzN1YINfiZPdPp9XeaZxYNEbd9fM/prYLM7tA41prw37oVgQvHiVnTdMGy6bVJR7YyN2CykP9oJJRcAe429GSh52xL0YHxIp0za71exIcmNzKbFnORLuxbY/iO3l1HzGAtRa1xBd581WQ7f1EZVt8UVshqZL5JZQt1eQDc2JbFArs2SZ/MD5XxCfD3+1/hhp9Obd03kd+/0HvBwk22I6zIcAAAAASUVORK5CYII=");
    }
  }

  &:active {
    .footer__copyright__pic {
      opacity: 0.3;
    }
  }
}

.footer__copyright__pic {
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAiCAMAAACZf1ICAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEXSKFb////SKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFbSKFYAAACDqFhFAAAAEXRSTlMAADBAUIC/368gYO8Qn49wz6Cmyx0AAAABYktHRBJ7vGwAAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gsTEy4ua5XAgwAAAUdJREFUKM91k1uiwyAIRIkKvpOw/81eQGNy29S/9AgOMxRAjvMBkSgyc6SEGHze5AARvx8iYLtMiMU7aeF90RZVfxbW4Hm2eZoxeGXbBwvJ/2CZuHJvL6ztXAtgrccXK5V3FZU7R/+POWJyU4snTnmx0e7WKT2wDXbMdvcMDTkGY6sdAOGUmWn40u8Bj1rLlNlHXV8d0SfpIsSfow654mSJMZy8u369p4ZEb8xhjeFgudzWfCHKTKolSVPJhx6z717MwqZ3LOon66wFMcA+M3+wXKTMR678zYjcLmX4xqQExWM6B7Ik7oxESwnRSMXPbLM4Ym5cyRs7x9xgWs4R7CYfLPbK1TztjAesGDRSSfY21PKT+FjThbERl6HKVBLpVsC1ScPQeTFYZ1gbqG3mA1Ppekefj2j11/Y+/gk2+lzOTwYNRe+Ntj/MExhRWV/rJgAAAABJRU5ErkJggg==");
  width: 27px;
  height: 34px;
  transition: 0.2s;
  margin-left: 2rem;
}